{% extends 'blog/main.html' %}
{% load static %}

{% block content %}
{% include 'blog/navbar.html' %}
<style>
    h5 {
        color: whitesmoke;
        font-weight: bold;
    }


</style>
<div class="container">
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-md">
                <h5>Update Profile</h5>
                <hr>
                <div class="card card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-info" type="submit" value="Update Account">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
    
